.hero {
  background-image: url("../assets/parliament.jpeg");
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.kuch{
  display: flex;
  align-items: center;
  flex-direction:column ;
  margin-top: 1.5em;
}
.logo-name {
  color: whitesmoke;
}

.quote {
  font-style: italic;
  color: rgb(255, 204, 204);
}

.glass-panel {
  position: absolute;
  left: 40px;
  top: 120px;
  width: 300px;
  padding: 20px;

  background: rgba(0, 80, 140, 0.25);
  /* transparent */
  border-radius: 18px;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(0, 200, 255, 0.5);

  box-shadow:
    0 0 25px rgba(0, 180, 255, 0.4),
    inset 0 0 20px rgba(0, 180, 255, 0.2);
}

.panel-title {
  text-align: center;
  color: #7df9ff;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

/* Buttons */
.glass-btn {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;

  background: rgba(0, 140, 255, 0.35);
  border: 1px solid rgba(0, 200, 255, 0.6);
  border-radius: 12px;

  color: white;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover effect */
.glass-btn:hover {
  background: rgba(0, 200, 255, 0.6);
  transform: translateX(6px);
  box-shadow: 0 0 15px rgba(0, 200, 255, 0.8);
}

/* Click effect */
.glass-btn:active {
  transform: scale(0.95);
}

.sharp-btn {
  position: relative;
  width: 280px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;

  /* background: linear-gradient(90deg, #0a3cff, #00d4ff); */
  border: 2px solid #7df9ff;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);

  clip-path: polygon(0% 0%,
      92% 0%,
      100% 50%,
      92% 100%,
      0% 100%,
      4% 50%);

  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 0 12px rgba(0, 200, 255, 0.6);
}

/* Hover */
.sharp-btn:hover {
  /* background: linear-gradient(90deg, #00d4ff, #0a3cff); */
  box-shadow: 0 0 20px rgba(0, 220, 255, 0.9);
  transform: translateX(6px);
}

/* Click */
.sharp-btn:active {
  transform: scale(0.95);
}

.bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;
  padding: 15px 30px;

  background: rgba(0, 140, 255, 0.15);
  border: 3px solid rgba(0, 200, 255, 0.4);
  border-radius: 999px;

  backdrop-filter: blur(3px);
  box-shadow: 0 0 25px rgba(0, 150, 255, 0.6);
}

.nav-btn {
  background: transparent;
  border: none;
  color: #9feaff;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  transition: 0.3s;
}

.nav-btn span {
  font-size: 12px;
  letter-spacing: 1px;
}

.nav-btn:hover {
  transform: translateY(-5px) scale(1.05);
  color: white;
  text-shadow: 0 0 10px cyan;
}

.friend {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.glass-panel2 {
  position: absolute;
  right: 40px;
  top: 120px;
  width: 300px;
  padding: 20px;

  background: rgba(0, 80, 140, 0.25);
  /* transparent */
  border-radius: 18px;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(0, 200, 255, 0.5);

  box-shadow:
    0 0 25px rgba(0, 180, 255, 0.4),
    inset 0 0 20px rgba(0, 180, 255, 0.2);
}

.glass-panel2 p {
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-weight: 500;
}

.glass-panel2 button {
  font-weight: 900;
  background-color: transparent;
  color: white;
  border: 3px solid rgba(0, 200, 255, 0.4);
}

.glass-panel2 button:active {
  transform: scale(0.8);
}

.glass-panel2 span {
  position: fixed;
  right: 2vw;
}

.profile {
  position: fixed;
  right: 2em;
  top: 1em;
  width: 3vw;
  background-color: white;
  border-radius: 50%;
}

.friend-options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.85);
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.friend-options button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  font-size: 16px;
}
